<h5>Completed Table 
      <br>
      <br>
      <br>
      Tasks &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Status
    </h5>
    <br>
    <br>
    <li *ngFor="let todo of todos">
      <div *ngIf="this.todo.isComplete">
        <div>{{this.todo.title}}</div>
        <div>
          <button (click)="onDelete(this.todo.id)"><i
              class="waves-effect waves-light red">Done</i></button>
        </div>
      </div>
    </li>
